.cards--container {
  width: 98%;
  max-width: 600px;
  margin: 10px auto;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
}
.cards--container::-webkit-scrollbar {
  width: 1em;
  height: 4px;
}
.cards--container::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: inset 0 0 6px rgba(22, 22, 22, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(22, 22, 22, 0.3);
}
.cards--container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--primary);
  outline: 2px solid rgb(147, 167, 187);
}
.card {
  min-width: 140px;
  height: 87.5%;
  border-radius: 8px;
  margin: 5px 3px;
  background-color: var(--primary);
  border: 2px solid var(--primaryVariant);
}
.card__image {
  width: 90px;
  height: 90px;
  margin: 20px auto 10px auto;
}
.card__image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: contain;
}
.card__name {
  width: 94%;
  margin: 3%;
  font: var(--paragraphBoldMobile);
  margin: 0 auto;
  text-align: center;
}
.card__button {
  display: block;
  width: 80%;
  height: 30px;
  margin: 10px auto 20px auto;
  border: 0;
  border-radius: 8px;
  background-color: var(--secondaryVariant);
  color: var(--TextWhite);
  font: var(--paragraphBoldMobile);
  line-height: 0px;
}

@media only screen and (min-width: 768px)  {
  .cards--container::-webkit-scrollbar {
    height: 6px;
  }
  .card {
    min-width: 160px;
    height: 92.5%;
  }
  .card__image{
    width: 100px;
    height: 100px;
  }
  .card__name {
    font: var(--paragraphDesktop);
  }
  .card__button {
    height: 35px;
    font: var(--paragraphDesktop);
  }
}