.tags {
  width: 90%;
  max-width: 400px;
  margin: 10px auto;
  padding: 0 5%;
}
.tags__title {
  margin: 15px auto 10px 0;
}
.tags__container {
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  place-content: center;
}
.tags__tag button{
  display: block;
  min-width: 70%;
  height: 30px;
  margin: 0 auto;
  border-radius: 8px;
  background-color: var(--primary);
  border: 1px solid var(--primaryVariant);
  font: var(--paragraphBoldMobile);
  color: var(--TextWhite);
  line-height: 0px;
}

@media only screen and (min-width: 768px) {
  .tags__tag button{
    height: 35px;
    border-radius: 10px;
    font: var(--paragraphDesktop);
    font-size: 20px;
    font-weight: bold;
  }
}